/*!* You can add global styles to this file, and also import other style files *!*/
.highlight{
  background-color: #A5A5B1 !important;
  color: #ffffff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
