<h1>Tables</h1>
<div class="row">
  <table class="table table-bordered table-striped table-body-color">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Table name</th>
      <th scope="col">Cancel</th>
      <th scope="col">User phonenumber</th>
      <th scope="col">Reservation date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let table of reserveTable" (click)="tableSelected(table)"
        [ngClass]="{'highlight': table == currentReserveTable}">
      <td>{{ table.tables.name }}</td>
      <td>
        <button  (click)="updateTable(table)" class="btn table-button-done">Cancel</button>
      </td>
      <td *ngIf="table.user != null">{{ table.user.phonenumber}}</td>
      <td *ngIf="table.reservationDate != null">{{ table.reservationDate | date:'dd.MM HH:mm'}}</td>
    </tr>
    </tbody>
  </table>
</div>

